<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div>
        <h3>User Resgister</h3>
        <form action="/register" method="POST">
            <label>Name: </label><br>
            <input type="text" name="name" value="<%= locals.prev && prev.name ? prev.name : '' %>"><br>
            <label>Surname: </label><br>
            <input type="text" name="surname" value="<%= locals.prev && prev.surname ? prev.surname : '' %>"><br>
            <label>E-mail</label><br>
            <input type="email" name="email" value="<%= locals.prev && prev.email ? prev.email : '' %>"><br>
            <label>Password</label><br>
            <input type="password" name="password" value="<%= locals.prev && prev.password ? prev.password : '' %>"><br>
            
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </form>
    </div>
    <div>
        <% if(locals.errors){
            errors.forEach((err) => {%>
                <p><%= err.msg %></p>
            <%})%>
        <%}%>
    </div>
</body>
</html>